@ghost-white: #F8F8F0;
@light-ghost-white: #F8F8F2;
@light-gray: #ededed;
@gray: #777;
@brown-gray: #444;
@dark-gray: #1d1d1d;

@yellow: #FED444;
@blue: #0CFFE1;
@pink: #F92672;
@purple: violet;
@brown: #75715E;
@orange: tomato;
@light-orange: #EA8A3E;
@green: #2FD466;
@sea-green: darken(@green, 20%);
