@ghost-white: 		#FBF9E7;
@light-ghost-white: lighten(@ghost-white, 1%);
@light-gray: 		#ededed;
@gray: 				#A0A79B;
@dark-gray: 		#1d1d21;
@brown-gray: 		lighten(@dark-gray, 13%);

@yellow: 		#FDD758;
@blue: 			#35FDD9;
@pink: 			#E42B6F;
@purple: 		#F387E5;
@brown: 		#666B5C;
@orange: 		#FA5F52;
@light-orange: 	lighten(@orange, 8%);
@green: 		#36D86C;
@sea-green: 	darken(@green, 20%);
